node_modules
.next/
storybook-static/
*.tsbuildinfo

.next-production/
data/
.env.local
.env.production
*.sqlite*

.platform-bootstrap.txt
.platform-qa*

backups/

.next-dev/

.next-qa/
.env.staging
.env.development.local
.env.*.local
.env
.next-*/
